@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

/* font-family: "Raleway", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
/* font-family: "Open Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #080438;
  --secondary-color: #2e65f8;
}

body {
  background: #ffffff;
  color: var(--primary-color);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 5em 0 5em;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  margin-right: 4em;
  font-size: 1rem;
}

nav ul li:last-child {
  margin: -0.9em;
}

header {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4.9em;
  margin-bottom: 10.5em;
}

.sub-title {
  font-size: 2.5rem;
  line-height: 60px;
  margin-bottom: 0.35em;
  margin-top: -0.3em;
}

.disc {
  font-size: 1.125rem;
  font-weight: 500;
  width: 90%;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.input {
  padding: 13px 104px;
  padding-left: 20px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  margin-right: 0.8em;
  margin-bottom: 1em;
}

::placeholder {
  color: rgb(153, 153, 153);
}
.btn {
  padding: 13px 60px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background: #205cff;
  color: #fefeff;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #4872e7;
}

.imgs img {
  width: 100%;
}

.phone-curve {
  display: none;
}

.desk-curve {
  margin-bottom: -0.3em;
}

main {
  height: auto;
  background: hsl(240, 50%, 98%);
  margin: 0 1.7em;
}

.discription .sub-title {
  margin-bottom: 30px;
}
.discription .disc {
  width: 73%;
  font-size: 16px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5em;
}

.link {
  color: rgb(27, 199, 27);
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: rgb(13, 185, 185);
}

.card {
  width: 355px;
  height: auto;
  font-size: 14px;
  margin-top: 3.2em;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(201, 201, 201, 0.801);
  border-radius: 6px;
  margin-bottom: 13%;
}

.more {
  padding: 2em 2em;
}
.more img {
  margin-bottom: 1em;
}
.more p {
  line-height: 20px;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin-top: 1.3em;
}
.profile img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 0.7em;
}
.name {
  margin-bottom: 7px;
  font-size: 13px;
}
.name span {
  font-size: 9px;
}

section {
  height: auto;
  width: 100%;
  background: hsl(238, 22%, 44%);
}

section .content {
  padding: 6.5em 5em;
  padding-bottom: 4.6em;
  color: #ffffff;
}

.box-1 {
  width: 70%;
}
.box-1 h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.7em;
}

.box-1 p {
  color: #e2e2e2;
  font-size: 15px;
  margin-bottom: 1.5em;
  line-height: 1.4em;
  letter-spacing: 1px;
}
.box-2 {
  width: 47%;
}
.box-2 .input {
  width: 96%;
  padding: 1em 1.1em;
  margin-top: -1.7em;
  font-size: 1rem;
  display: block;
}

.box-2 .btn {
  padding: 14px 32px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  background: #2e65f8;
  color: #fefeff;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
footer {
  height: auto;
  background: var(--primary-color);
  color: #ffffff;
}

footer .content {
  padding: 7em 7em 6em 5.2em;
  display: flex;
  align-items: flex-start;
}

.brand p {
  margin: 1em 0;
}

.about,
.contact,
.social {
  margin-top: 5em;
}

.about,
.contact,
p {
  margin-bottom: 1em;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 4em;
}
.social li {
  font-size: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 0.5em;
}
.social li a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.social li a:hover {
  color: rgb(13, 185, 185);
}
